.headerTitle {
    font-family: 'Kosugi', sans-serif;
    font-size: 29px;
    color: rgb(26, 25, 25);
}

.bio {
    width: 50%;
    height: auto;
    background-color:white;
}

.elementList {
    font-family: 'Kosugi', sans-serif;
    font-size: 14px;
}
#littleList {
    font-family: 'Kosugi', sans-serif;
    font-size: 14px;
}

.subHeader {
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
}

.docuText {
    font-family: 'Kosugi', sans-serif;
    font-size: 14px;
}

.docuText {
    font-family: 'Kosugi', sans-serif;
    font-size: 14px;
}
.bioText {
    font-family: 'Kosugi', sans-serif;
    font-size: 15px;
}

#docuClick {
    font-family: 'Kosugi', sans-serif;
    font-size: 29PX;
    color: rgb(26, 25, 25);
}

#docuClick:hover {
    font-family: 'Kosugi', sans-serif;
    color: #0d8dd7;    
}
.gridContainer {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}

#art{
    width: 50%;
    height: 500px;
    background-color:white;
}

.docu{
    width: 50%;
    height: auto;
    background-color:white;
}